<!DOCTYPE html>
<html lang="en" translate="no">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Aplikasi Harmony Cafe">
  <link rel="manifest" href="./manifest.webmanifest">
  <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="./icons/icon-192x192.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" integrity="sha512-Mo79lrQ4UecW8OCcRUZzf0ntfMNgpOFR46Acj2ZtWO8vKhBvD79VCp3VOKSzk6TovLg5evL3Xi3u475Q/jMu4g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" media="all">
  <title>Harmony Cafe</title>
</head>
<body>

  <!-- loader -->
  <div class="loader">
    <div class="ring"></div>
    <div class="loading">Sedang memuat...</div>
 </div>
  <!-- skip to content -->
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <!-- navigasi -->
  <header>
    <nav class="nav" >
      <div class="nav-brand" tabindex="0">
        Harmony Cafe
      </div>

      <button id="btn-menu" role="button" aria-label="button navigasi">
        <i class="fa fa-bars"></i>
      </button>
      <ul>
        <li class="nav-link"><a href="#/home">Home</a></li>
        <li class="nav-link"><a href="#/favorite">Favorite</a></li>
        <li class="nav-link"><a href="https://www.facebook.com/profile.php?id=100057354857498" target="_blank" rel="noreferrer">About me</a></li>
      </ul>
    </nav>
  </header>

  <!-- content -->
  <main id="main-content"></main>
  

  <!-- footer -->
  <footer class="main-footer-container">
    <div class="footer-content">
      <p tabindex="0">&copy; 2021 By Harmony Cafe</p>
    </div>
  </footer>
</body>
</html>